@import "tailwindcss";

@font-face {
  font-family: "UTM Avo";
  src: url("../assets/fonts/UTM\ Avo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UTM Avo Bold";
  src: url("../assets/fonts/UTM\ AvoBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #09303d;
  --foreground: #09303d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-utm-avo: "UTM Avo";
  --font-utm-avo-bold: "UTM Avo Bold";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09303d;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* styles.css */
.swiper-slide-custom {
  width: 90% !important;
}

@media (min-width: 768px) {
  .swiper-slide-custom {
    width: 60% !important;
  }
}

@media (min-width: 1024px) {
  .swiper-slide-custom {
    width: 1000px !important;
  }
}

.element {
  position: relative;
  padding: 20px; /* Khoảng cách với viền */
  border-radius: 12px; /* Bo góc */
}

.element::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit; /* Giữ nguyên bo góc */
  padding: 1px; /* Độ dày viền */
  background: linear-gradient(
    160deg,
    rgba(250, 212, 138, 0) 0%,
    #fff5be 99%,
    #d9b770 100%
  );
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
}

.element-t {
  position: relative;
  padding: 20px; /* Khoảng cách với viền */
  border-radius: 12px; /* Bo góc */
}
.element-t::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit; /* Giữ nguyên bo góc */
  padding: 1px; /* Độ dày viền */
  background: linear-gradient(
    -120deg,
    rgba(250, 212, 138, 0) 0%,
    #fff5be 99%,
    #d9b770 100%
  );
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
}